h1 {
    text-align: center;
    border: 5px solid;
    padding: 18px;
    background-color:powderblue;
    font-size:250%;
    }




   
.mission-statement{
  margin: 10px;
  border: 10px powderblue solid;
  height: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: powderblue;
  color: #1b1c1a;
  font-size: 20px;
  border-radius: 20px;
}
.mission-statement p{
  font-size: 32px;
  font-weight: bold;
}
#mission{
  font-family: 'Bungee', cursive;
}