{% extends "base.html" %}
{% block title %}Index{% endblock title%}

{% block content %}
<body> 
     <!-- NAV BAR-->
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" href="/home">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/rankings">Rankings <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/financialaid">Financial Aid</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/advancedSearch">Advanced Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/recommend"> Recommend us</a>
      </li>
    </ul>
  </div>
</nav>

		<a class="navbar-brand" href="/home">Home</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active">

					<a class="nav-link" href="/rankings">Rankings <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/financialaid">Financial Aid</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/advancedSearch">Advanced Search</a>

				</li>
				<li class="nav-item">
					<a class="nav-link" href="/recommend"> Recommend
						us</a>
				</li>
			</ul>
		</div>
	</nav>

<!-- Header content-->
    <h2>The Average Cost Of Tuition Is Continuously Rising!</h2>
    <img src="https://www.gannett-cdn.com/-mm-/1247c10b0088e2dd70856014fb4f0f5e7c45e2f2/c=0-0-629-354/local/-/media/2018/08/15/USATODAY/usatsports/usatcollege-CollegeUSAT-660582-233868a4.png?width=629&height=354&fit=crop&format=pjpg&auto=webp" class="center">
    <h2>Rest Assured, A Variety Of Financial Aid Sources Are Available To Help You Pay for college </h2>
<!--Header & image Style-->
<style>
 h2 {
    text-align: center;
    border: 5px solid;
    padding: 18px;
    background-color:powderblue;
    font-size:200%;
    }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}
</style>
<!--Buttons-->
  <a href="#" class="btn btn-primary btn-lg" role="button" aria-disabled="true">Mega List of 2020 Scholarships</a>
  <a href="#" class="btn btn-primary btn-lg" role="button" aria-disabled="true">Grants</a>
  <a href="#" class="btn btn-primary btn-lg" role="button" aria-disabled="true">Grants</a>
  <a href="#" class="btn btn-primary btn-lg" role="button" aria-disabled="true">Grants</a>
  <a href="#" class="btn btn-primary btn-lg" role="button" aria-disabled="true">Grants</a>
  <a href="#" class="btn btn-primary btn-lg" role="button" aria-disabled="true">Grants</a>
<!--Container-->
<div class="container">
  <div class="row">
    <div class="col">
        <img src="https://www.fillmorecsd.org/cms/lib/NY19000841/Centricity/Domain/8/scholarshipimage.jpg" width=80%, height=500%>
    </div>
    <div class="col">
      <h3>Scholarships are a grants or payment </h3>
    </div>
  </div>
</div>
<!--Button Groups-->

<!--experiemnt
<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary">Left</button>
  <button type="button" class="btn btn-secondary">Middle</button>
  <button type="button" class="btn btn-secondary">Right</button>
</div>
        -->


{% endblock content%}