{% extends "base.html" %}
{% block title %}Index{% endblock title%}

{% block content %}
<body> 
     <!-- NAV BAR-->
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" href="/home">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/rankings">Rankings <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/financialaid">Financial Aid</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/advancedSearch">Advanced Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/recommend"> Recommend us</a>
      </li>
    </ul>
  </div>
</nav>
<!--
		<a class="navbar-brand" href="/home">Home</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active">

					<a class="nav-link" href="/rankings">Rankings <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/financialaid">Financial Aid</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/advancedSearch">Advanced Search</a>

				</li>
				<li class="nav-item">
					<a class="nav-link" href="/recommend"> Recommend
						us</a>
				</li>
			</ul>
		</div>
	</nav>
    -->

<!-- Header content-->
    <h2>The Average Cost Of Tuition Is Continuously Rising!</h2>
    <img src="https://www.gannett-cdn.com/-mm-/1247c10b0088e2dd70856014fb4f0f5e7c45e2f2/c=0-0-629-354/local/-/media/2018/08/15/USATODAY/usatsports/usatcollege-CollegeUSAT-660582-233868a4.png?width=629&height=354&fit=crop&format=pjpg&auto=webp" class="center">
    <h2>Rest Assured, A Variety Of Financial Aid Sources Are Available To Help You Pay for college </h2>
<!--Header,image Style, and grid-->
<style>
 h2 {
    text-align: center;
    border: 5px solid;
    padding: 18px;
    background-color:powderblue;
    font-size:200%;
    }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}
p3 {
    text-align: center;
    font-size: 170%;
}
.wrapper {
  display: grid;
  grid-template-columns: 500px 920px;
}

.wrapper > div {
  padding: 10em;
  color: #3264a8;
}

h4{
    text-align: center;
    border: 5px solid;
    padding: 18px;
    background-color:powderblue;
    font-size:230%;
}
</style>
<!--Button Group-->
  <a href="https://collegesofdistinction.com/advice/the-mega-list-of-scholarships-you-should-apply-for-class-of-2019-2020/" class="btn btn-primary btn-lg" role="button" aria-disabled="true">2020 Scholarships</a>
  <a href="https://www.hesc.ny.gov/" class="btn btn-primary btn-lg" role="button" aria-disabled="true">NY TAP Grant</a>
  <a href="https://studentaid.gov/h/apply-for-aid/fafsa" class="btn btn-primary btn-lg" role="button" aria-disabled="true">FAFSA</a>
  <a href="https://www.insidehighered.com/views/2019/04/26/change-federal-work-study-program-so-it-encourages-useful-work-opinion" class="btn btn-primary btn-lg" role="button" aria-disabled="true">Federal Work-Study</a>
  <a href="https://www.irs.gov/publications/p970#en_US_2017_publink100077522" class="btn btn-primary btn-lg" role="button" aria-disabled="true">Tax Credits</a>
  <a href="https://www.nationalservice.gov/programs/americorps/segal-americorps-education-award/amount-eligibility-and" class="btn btn-primary btn-lg" role="button" aria-disabled="true">Educational Awards</a>
  <a href="https://www.scholarships.com/financial-aid/college-scholarships/scholarships-by-type/academic-scholarships-and-merit-scholarships/" class="btn btn-primary btn-lg" role="button" aria-disabled="true">Merit Scholarships</a>
  <a href="https://collegecost.ed.gov/net-price" class="btn btn-primary btn-lg" role="button" aria-disabled="true">Net Price Calculator</a>



<div class="wrapper">
  <div><img src="https://www.fillmorecsd.org/cms/lib/NY19000841/Centricity/Domain/8/scholarshipimage.jpg" width=250%></div>
  <div><p3>A Scholarship is a grant or payment made to support a student's education, awarded on the basis of academic or other achievement that you do not have to pay back</p3></div>
  <div><img src="https://cms.hostos.cuny.edu/Hostos/media/SDEM/ARC/hesc.png" width=250%></div>
  <div><p3>The New York State Tuition Assistance Program (TAP) helps eligible New York residents pay tuition at approved schools in NYC </p3></div>
  <div><img src="https://d31029zd06w0t6.cloudfront.net/wp-content/uploads/sites/38/2020/06/web1_fafsa.jpg" width=250%></div>
  <div><p3>The Free Application for Federal Student Aid (FAFSA) is a form completed by current and prospective college students in the United States to determine their eligibility for student financial aid</p3></div>
  <div><img src="https://www.insidehighered.com/sites/default/server_files/media/FWS2-2-1024x675_0.jpg" width=250%></div>
  <div><p3>A work study is a federally sponsered college program that enables students to work part-time while attending school</p3></div>
  <div><img src="https://cdn.ramseysolutions.net/media/b2b/elp/blog/what-are-tax-credits.jpg" width=250%></div>
  <div><p3>Tax credits help offset the costs (tuition, books, housing, exc) of college or career school by reducing the amount of your income tax</p3></div>
  <div><img src="https://www.fawcofoundation.org/images/NEW_WEBSITE_IMAGES/Header_Images/EAHeader.jpg" width=250%></div>
  <div><p3>Educational Awards can be used to pay tuition at a Title IV institution of higher education, for educational training, or to repay your qualified student loans</p3></div>
  <div><img src="https://www.wtvq.com/wp-content/uploads/2020/06/national-merit-3-1528301370.jpg" width=250%></div>
  <div><p3>Merit scholarships are typically awarded on the basis of academic, athletic or artistic merit, in addition to special interests</p3></div>
  <div><img src="https://www.bu.edu/finaid/files/2019/10/net-price-calculator-2.jpg" width=194% height=190%></div>
  <div><p3>Net Price is the amount that a student pays to attend an institution in a single academic year AFTER subtracting scholarships and grants the student receives.</p3></div>
</div>
<div> <h4> Click The Buttons Above To View More Infromation About Your Financial Aid Options! </h4></div>

</body>
{% endblock content%}