{% extends "base.html" %}
{% block title %}Index{% endblock title%}


{% block content %}
<!-- Header one Style -->
<style>

 h1 {
    text-align: center;
    border: 5px solid;
    padding: 18px;
    background-color:powderblue;
    font-size:250%;
    }
 </style> 

 <!--Header One content-->
<body> 
     <h1> Welcome To Your NYC College Search Tool!</h1>
     <!-- NAV BAR-->
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/home">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">

	h1 {
		text-align: center;
		border: 5px solid;
		padding: 18px;
		background-color: powderblue;
		font-size: 250%;
	}
</style>

<!--Header One content-->

<body>
	<h1> Welcome To Your NYC College Search Tool!</h1>
	<!-- NAV BAR-->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="/home">Home</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">

    <span class="navbar-toggler-icon"></span>
  </button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active">


        <a class="nav-link" href="/rankings">Rankings <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/financialaid">Financial Aid</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/advancedSearch">Advanced Search</a>

      </li>
      <li class="nav-item">
        <a class="nav-link" href="/recommend"> Recommend us</a>
      </li>
    </ul>
  </div>
</nav>

    
				




	


	<!-- button for advanced search -->
	<a class="btn btn-primary" href="https://5000-dot-13060368-dot-devshell.appspot.com/advancedSearch"
		role="button">Advanced College Search</a>





</body>
{% endblock content%}